services:
  dashboard-frontend:
    build:
      context: ./sistema
      dockerfile: Dockerfile
    container_name: cbmmg-dashboard-frontend
    ports:
      - "8050:8050"
    environment:
      - PORT=8050
      - PYTHONUNBUFFERED=1
      - http_proxy=http://proxymg.prodemge.gov.br:8080
      - https_proxy=http://proxymg.prodemge.gov.br:8080
    volumes:
      - ./sistema/data:/app/data
    restart: unless-stopped
    networks:
      - dashboard-network

networks:
  dashboard-network:
    driver: bridge
